:root {
    --main-fg-color: #DCDCCC;
    --main-fg1-color: #FFFFEF;
    --main-fg2-color: #FFFFFD;
    --main-bg-color: #3F3F3F;
    --main-bg2-color: #5F5F5F;
    --main-bg3-color: #2B2B2B;
    --main-blue-color: #8CD0D3;
    --main-green-color: #7F9F7F;
    --main-yellow-color: #F0DFAF;
    --main-purple-color: #DC8CC3;
}


html.dark body {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

html.dark ::-moz-selection {
  background: var(--main-purple-color);
  color: var(--main-fg1-colorj);
  text-shadow: none
}

html.dark ::selection {
  background: var(--main-purple-color);
  color: var(--main-fg1-color);
  text-shadow: none
}

html.dark hr {
  border-color: var(--main-bg2-color);
}

html.dark blockquote {
  border-color: var(--main-green-color);
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #ddd;
}

html.dark a,a:hover {
  color: var(--main-purple-color);
  text-decoration: none;
}

html.dark table tbody tr:nth-of-type(even) {
  background-color: var(--main-bg3-color);
}

html.dark .site-description a,
html.dark .site-description a:hover {
  color: var(--main-fg-color);
  text-decoration: underline;
}

html.dark a:hover {
  opacity: 0.8;
}

html.dark .post-tags .tags a {
  border: 1px solid var(--main-fg-color);
  color: var(--main-fg-color);
}

html.dark .site-title a {
  color: var(--main-fg-color);
  text-decoration: none !important;
}

html.dark .header nav,
html.dark .footer {
  border-color: var(--main-bg-color);
}

html.dark .highlight {
  background-color: var(--main-bg-color);
}
